.cardContainer{
    margin-top: 70px;
    position: relative;
}

.rightCard{
    width: 52%;
    height: 650px;
    margin-left: 45vw;
    background-color: rgb(240, 240, 240);
}

.rightCardContent{
    width: 65%;
    padding-top: 20%;
    margin-left: 25%;
}
.rightCardContent>h1{
    font-size: 1.7rem;
    margin-bottom: 25px;
}
.rightCardContent>p{
    font-size: 1rem;
    color: rgb(90, 90, 90);
    margin-bottom: 30px;
    line-height: 25px;
    justify-content: left;
}

.rightCardContent>button{
    font-size: 1rem;
    background-color: #1c71e7;
    padding: 15px 30px;
    /* border-color: #006BFF; */
    border: none;
    border-radius: 5px;
    color: white;
    transition: all 0.1s ease-in-out;
}


.cardContainer>img{
    width: 48%;
    height: 500px;
    object-fit: cover;
    position: absolute;
    top: 85px;
    left: 3vw;
}